//@import '~font-awesome/scss/font-awesome.scss';

body {
  background-color: slategrey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.back {
  width: 200px;
  height: 200px;
  background: url('./assets/andrew-neel-133200-2-unsplash.jpg') center;
}



/* TEXT EDITOR */
.custom-btn {
  background-color: transparent;
  border: 2px black solid;
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;
  &:hover {
    background-color: black;
    color: grey;
    border: 2px solid grey;
  }
  &:focus {
    outline: 0;
  }
}


.action-button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: transform 0.2s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
}

.text-editor {
  
  &_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  &_action-buttons {
    transition: all 0.2s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 5px;
    
  }
}

.editor-title {
  transition: all 0.2s ease;
  &_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    & h3 {
      margin: 0;
    }
  }
  &_content {
    font-size: 2em;
    margin: 10px;
    padding: 10px;
    
    //background-color: rgba(0,0,0,0.1);
    border: 0;
    border-radius: 10px;
    outline: 0px;
  }
}